.pizza-list {
  .pizza-item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    gap: 30px;

    @media screen and (max-width: 1460px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
      justify-items: normal;
    }
  }
  h2 {
    margin: 20px 0;
  }

  .skeleton {
    max-height: 486px;
  }
}
