$dark: #534144; //#282c34
$black: rgb(38, 38, 38);
$background: #ffe3c8;
$wrapperBackground: #ffffff;
$activeColor: #ff6900;
$activeColorHover: rgb(57, 79, 154);
$activeColorHoverAlpha: rgba(255, 144, 65, 0.29);
